.doingClass {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.doingTask {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: #0E00A9;
    box-shadow: -6px 6px 2px 1px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.doingNameTask {
    font-size: 30px;
    margin: 0;
    color: white;
}

.doingDescriptionTask {
    font-size: 20px;
    margin: 0;
    height: auto;
    word-wrap: break-word;
}


.timeContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}


.timer {
    display: flex;
    gap: 10px;
    font-size: 30px;
}

.timer p {
    margin: auto;
    padding:10px 0;
}

.start {
    background-color: #28ca00;
    padding: 7px;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: -6px 6px 2px 1px rgba(0, 0, 0, 0.3);
    transition: .5s ease;
}

.start:hover {
    background-color: #1f9d00;
    box-shadow: none;
}

.cancel {
    background-color: #b50000;
    box-shadow: -6px 6px 2px 1px rgba(0, 0, 0, 0.3);
    padding: 7px;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: .5s ease;
}

.cancel:hover {
    background-color: #920000;
    box-shadow: none;
}

.pause {
    background-color: #b99100;
    box-shadow: -6px 6px 2px 1px rgba(0, 0, 0, 0.3);
    padding: 7px;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: .5s ease;
}

.pause:hover {
    background-color: #917200;
    box-shadow: none;
}

.reanudar {
    background-color: #b99100;
    box-shadow: -6px 6px 2px 1px rgba(0, 0, 0, 0.3);
    padding: 7px;
    height: 20px;
    width: 150px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: .5s ease;
}

.reanudar:hover {
    background-color: #917200;
    box-shadow: none;
}

.restore {
    background-color: #5953a4;
    color: white;
    padding: 7px;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    box-shadow: -6px 6px 2px 1px rgba(0, 0, 0, 0.3);
    transition: .5s ease;
}

.restore:hover {
    background-color: #47437e;
    box-shadow: none;
}

.options{
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 15px;
}

.finishTaskButton {
    background-color: #5953a4;
    box-shadow: -6px 6px 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 7px;
    width: 25%;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .5s ease;
}

.finishTaskButton:hover{
    background-color: #47437e;
    box-shadow: none;
}

.toPendingTask {
    background-color: #b99100;
    box-shadow: -6px 6px 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 7px;
    width: 25%;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .5s ease;
}

.toPendingTask:hover{
    background-color: #917200;
    box-shadow: none;
}

.editDoingTask{
    background-color: #b99100;
    box-shadow: -6px 6px 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 7px;
    width: 25%;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .5s ease;
}

.editDoingTask:hover{
    background-color: #917200;
    box-shadow: none;
}


.eliminarDoingTask {
    background-color: #b50000;
    box-shadow: -6px 6px 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 7px;
    width: 25%;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .5s ease;
}

.eliminarDoingTask:hover{
    background-color: #860000;
    box-shadow: none;
}

/* Edit  */
.input{
    background-color:#4e46a5;
    color:white;
    border-radius: 10px;
    border-style: none;
    outline: none;
    padding: 5px;
    margin: 10px 0 ;
}
.grider{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
} 

/* Moddal Doing Task  */
.adviceModal {
    border-style: none;
    background-color: orange;
    border-radius: 15px;
    text-align: center;
    font-size: 40px;
}

.adviceModal::backdrop {
    background-color: rgba(0, 0, 0, 0.4)
}

.adviceModal img {
    width: 250px;
    height: 250px;
    color: black;
    background-position: center;
    cursor: pointer;
}

.lessPomodoro {
    color: #28ca00;
    font-size: 25px;
    margin: 10px 0;
}