

.doingClass {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.doingTask{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: #E8E8E8;
    box-shadow: -6px 6px 2px 1px rgba(0, 0, 0, 0.3);
    width: 400px;
}

.doingNameTask{
    font-size: 30px;
    margin: 0;
    color: #0E00A9;
}

 .doingDescriptionTask{
    font-size: 20px;
    margin: 0;
    height: auto;
    word-wrap: break-word;
}


.timeContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.start{
    background-color:#28ca00;
    padding: 7px;
    width: 100px;
    height: 20px;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.cancel{
    background-color:#e90000;
    padding: 7px;
    height: 20px;
    width:100px;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.pause{
    background-color:#e9b700;
    padding: 7px;
    height: 20px;
    width:100px;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.reanudar{
    background-color:#e9b700;
    padding: 7px;
    height: 20px;
    width:150px;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.restore{
    background-color:#B9B2FF;
    padding: 7px;
    height: 20px;
    width:100px;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.timer{
    display: flex;
    gap: 10px;
    font-size:30px;
}

.timer p{
    margin: auto;
    padding: 0;
}

.finishTaskButton{
    background-color:#B9B2FF;
    border-radius: 15rem;
    padding: 7px;
    width: 50%;
    height: 30px;
    font-size:25px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.toPendingTask{
    background-color:#e90000;
    border-radius: 15rem;
    padding: 7px;
    width: 50%;
    height: 30px;
    font-size:25px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Moddal Doing Task  */
.adviceModal {
    border-style: none;
    background-color: orange;
    border-radius: 15px;
    text-align: center;
    font-size: 40px;
}
.adviceModal::backdrop {
    background-color: rgba(0, 0, 0, 0.4)
}

.adviceModal img{
    width: 250px;
    height: 250px;
    color: black;
    background-position: center;
    cursor: pointer;
}

.lessPomodoro{
    color: #28ca00;
    font-size: 30px;
    margin-top: 0;
}

