body {
    background-color: #374151;
    color: white;

    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
    color: #5953a4;
    font-size: x-large;
}

/* Header  */
.header {
    padding:10px;
    background-color: #5953a4;
    text-align: center;
    font-size: xx-large;
    text-transform: uppercase;
    font-style: italic;
}


/* Columns tasks */
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: larger;
    margin: 0 30px;
    gap: 30px;
}

.titleContent {
    text-align: center;
    position: relative;
    height: 150px;
}


/* Add New Task Form */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: #0E00A9;
    box-shadow: -6px 6px 2px 1px rgba(0, 0, 0, 0.3);
    padding: 20px;
    height: 350px;
}

.inputNameTask {
    border-radius: 10px;
    border-style: none;
    outline: none;
    padding: 5px;
}

.inputDescriptionTask {
    border-radius: 10px;
    border-style: none;
    outline:none;
    padding:5px ;
}

.addButton {
    font-weight: bold;
    margin-top: 30px;
    padding: 10px 30px;
    border-style: none;
    background-color: #5953a4;
    color: white;
    box-shadow: -6px 6px 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease;
}

.addButton:hover {
    background-color: #47437e;
    box-shadow: none;
}

/* Modal Add */
.addModalContent {
    border-style: none;
    background-color: #27C100;
    border-radius: 15px;
    text-align: center;
}

.addModalContent img {
    width: 250px;
    height: 250px;
    color: black;
    background-position: center;
}

.addModalContent h2 {
    color: #F3F3F3;
    font-weight: bold;
    font-size: 48px;
}

.addModalContent::backdrop {
    background-color: rgba(0, 0, 0, 0.4)
}