/* Pending  Tasks */
.pendingPosition{
    border: 3px solid black ;
    height: 100px;
}

.pendingClass {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.pendingTask{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: #E8E8E8;
    box-shadow: -6px 6px 2px 1px rgba(0, 0, 0, 0.3);
    width: 400px;
}

.pendingNameTask{
    font-size: 30px;
    margin: 0;
    color: #0E00A9;
}

.pendingDescriptionTask{
    font-size: 20px;
    margin: 0;
    height: auto;
    word-wrap: break-word;
}
.addPendingTask{
    background-color:#B9B2FF;
    margin: 10px;
    width: 50%;
    padding: 7px;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}

.eliminarPendingTask{
    background-color:#e90000;
    border-radius: 15rem;
    padding: 7px;
    width: 50%;
    height: 30px;
    font-size:25px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}